@import 'variables';

.border {
  &-purple-light {
    border: 1px solid #3D2A57;
  }

  &--bottom {
    &-grey {
      border-bottom: 1px solid @grey-light;
    }
    &-grey-dark{
      border-bottom: 1px solid @grey-dark;
    }
  }
}
