.button-big {
  height: 3.5625rem;
  width: 15.9375rem;
  background-color: #291644;
  border: 1px solid #291644;
  transition: all 0.4s ease-in-out;
}
.button-big a {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-big:hover {
  background-color: #9DC64F;
  border: 1px solid #9DC64F;
  transition: all 0.4s ease-in-out;
}
.button-midd {
  height: 2.813rem;
  width: 9.750rem;
  background-color: #291644;
  border: 1px solid #291644;
  transition: all 0.4s ease-in-out;
}
.button-midd a {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-midd:hover {
  background-color: #9DC64F;
  border: 1px solid #9DC64F;
  transition: all 0.4s ease-in-out;
}
.button-grey {
  height: 1.875rem;
  width: 6rem;
  background-color: #C6C6C5;
  border: 1px solid #C6C6C5;
  transition: all 0.4s ease-in-out;
}
.button-grey a {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-grey:hover {
  background-color: #9DC64F;
  border: 1px solid #9DC64F;
  transition: all 0.4s ease-in-out;
}
.button-border-purple {
  border: 1px solid #291644;
  transition: all 0.4s ease-in-out;
}
