@import 'variables';
@import 'index';

.o_meni{
    height: calc(~"100vh - 3.74rem");
    // padding-top: 3.71rem;
    background-image: url(../assets/images/o-meni-intro.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    // overflow: hidden;
    &-gr {
        display: none;
    }
    &-text {
        width: 30%;
        &-border{
            border-left: 5px solid @purple;
            height: 40px;
        }
    }
    &-hide {
        display: none;
    }
}
@media screen and (max-width: 1440px){
    .o_meni {
        &-text {
            width: 35%;
        }
    }
}

@media screen and (max-width: 1280px){
    .o_meni {
        &-text {
            width: 40%;
        }
    }
}

@media screen and (max-width: 1023px){
    .o_meni {
        height: 55vw;
        &-gr{
            display: block;
            background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 71.18%); 
            height: 102%; 
            width:100%;
        }
        &-text {
            position: absolute;
            top: 90%;
            width: 65%
        }
        &-hide {
            display: flex;
            height: 400px;
        }
    }
}

@media screen and (max-width: 800px){
    .o_meni {
        &-text {
            width: 75%
        }
        &-hide {
            width: auto;
        }
    }
}

@media screen and (max-width: 680px){
    /*.o_meni {
        &-hide {
            height: 550px;
        }
    }*/
}

@media screen and (max-width: 480px){
    .o_meni {
        height: 74vw;
        &-text {
            width: 90%;
        }
        /*&-hide {
            height: 550px;
        }*/
    }
}

@media screen and (max-width: 360px){
    .o_meni {
        &-hide {
            height: 450px;
        }
    }
}