{% extends "base.twig" %}
{% block content %}
<div style="height:100vh; width: 100%; padding-top: 7.5rem; box-sizing: border-box; background-image: url('assets/images/404.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat" class="flex align-items-center justify-content-center">
	<div class="error flex flex-column align-items-center justify-content-center">
		<div class="font--xxl-36 error-color font-bold margin-xxl--bottom-48 text-center margin-xs--top-24">Ups!</div>
		<div class="error-404 error-color font-bold margin-xxl--bottom-24 text-center">404</div>
		<div class="font--xxl-36 error-color font-bold margin-xxl--bottom-32 text-center">Nepostojeća stranica!</div>
		<div class="font--xxl-14 error-color font-regular text-center" style="font-style: italic">Skretanje sa pravog puta čest je slučaj u životu.</div>
		<div class="font--xxl-14 error-color font-regular text-center" style="font-style: italic; max-width: 23.85rem">Samo jedan klik te deli od povratka na home page? Neka tako lako bude i sa započinjanjem promene.</div>
	</div>
</div>

{% endblock %}