<footer class="footer" id="footer">
    <div class="footer-container" id="footercont">
    <div class="footer-container-top flex flex-column padding-xxl--top-100 padding-xxl--bottom-100 padding-xl--bottom-70">
    <div class="footer-container-top--left-logo flex align-items-center justify-content--l-center margin-xxl--bottom-80 margin-xl--bottom-70 margin-xxl--left-135 margin-xl--left-70 margin-xl--right-70">
        <img style="max-height: 100%;" src="assets/shared/logo-purple.png">
        <img style="max-height: 80%;" class="margin-xxl--left-40" src="assets/shared/logo-purple-long.png">
    </div>
    <div class="flex flex--l-column margin-l--left-24 margin-l--right-24">
        <div class="footer-container-top--left margin-xxl--left-135 margin-xl--left-70 margin-l--left-none margin-xl--right-70 margin-l--right-none w-40 w--l-100">
            <div class="footer-container-top--left-kontakt">
                <div class="margin-xxl--bottom-60 margin-xl--bottom-24">
                    <div class="font--xxl-18 font-purple font-bold margin-xxl--right-48 margin-xl--right-none margin-xxl--bottom-10 text--l-center">Društvene mreže</div>
                    <div class="flex align-items-center justify-content--l-center">
                        <a class="icon-purple flex align-items-center justify-content-start margin-xxl--right-18" href="https://www.instagram.com/isidora.buneta/"><img src="./assets/shared/instagram_purple.svg"></a>
                        <a class="icon-purple flex align-items-center justify-content-start" href="https://www.facebook.com/Isidora-Buneta-683256022117163"><img src="./assets/shared/facebook_purple.svg"></a>
                    </div>
                </div>
                <div class="font--xxl-18 font-purple font-bold margin-xxl--bottom-10 margin-xl--top-80 text--l-center">Zakazivanje termina</div>
                <div class="flex flex-column">
                    <span class="font--xxl-16 font-purple-light margin-xxl--right-24 margin-xl--right-none text--l-center">Broj telefona</span>
                    <span class="text--l-center"><a class="font--xxl-16 font-purple-light" href="tel:+381638403020">+381 63 8 40 30 20</a></span>
                    <span class="font--xxl-16 font-purple-light margin-xxl--right-24 margin-xl--right-none text--l-center">isidora.buneta@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="footer-container-top--right margin-xxl--left-135 margin-xl--left-70 margin-xl--right-70 margin-l--left-none margin-l--right-none w-60 w--l-100">
            <div class="footer-container-top--right-title"></div>
            <form class="footer-container-top--form flex--xl flex--xl-column align-items--l-center">
                <div id="section8" class="font--xxl-24 font-purple font-bold margin-xxl--bottom-48 margin-l--top-80 text--l-center">Newsletter</div>
                <input class="input-form font--xxl-14 font-purple margin-xxl--bottom-24 w-60  text--l-center" name="email" type="email" placeholder="youremail@gmail.com"/>
                <div class="footer-container-top--form-text font--xxl-16 font-purple margin-xxl--bottom-32 margin-xl--bottom-24 text--l-center">Nedeljna doza inspiracije. Pogledaj u sebe. Započni promenu.</div>
                <button class="button-midd"><a class="font-white font--xxl-14" href="mailto:isidora@isidorab.com">Pošalji</a></button>
            </form>
        </div>
    </div>
    </div>
    <div class="footer-container-bottom flex flex-column justify-content-center w-100">
        <div class="margin-xxl--left-135 margin-xxl--right-135 margin-xl--left-70 margin-xl--right-70 margin-xxl--top-32 margin-xl--top-32  margin-xxl--bottom-32 margin-xl--bottom-24 w-100 w--xl-auto font-purple font--xxl-18 font-bold text--l-center">Meni</div>
        <div class="flex flex--l-column align-items-center margin-xxl--bottom-32  margin-xxl--left-135 margin-xl--left-70 margin-xl--right-70 w-100 w--xl-auto">
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="o_meni">O meni</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="radionice">Programi</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="mrsavljenje">Mršavljenje</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="psihoterapija">Psihoterapija</a></span>
            <!--<span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="video">Video</a></span>-->
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="blog">Blog</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="kontakt">Kontakt</a></span>
        </div>
        <div class="text-center margin-xxl--bottom-24 font-purple--invert font--xxl-14">© 2019 DIMIS creating & improving brands</div>
    </div>
    </div>
</footer>