{% extends "base.twig" %}
{% block content %}
{% set Home_Page_Intro = fetch("Home_Page_Intro") %}

{# <div style="height: 100vh; widht: 100%; background-color: #291644; top: 3.75rem;" id="first"></div>
<div style="height: 100vh; widht: 100%; background-color: #9DC64F;" id="second"></div> #}

<div class="upoznaj_sebe">
{% for item in Home_Page_Intro %}
<div id="upoznaj_sebe1" class="mySlides flex padding-xxl--left-200" style="height:100%">
    <div class="upoznaj_sebe-left w-35 flex flex-column justify-content-center align-items-start">
        <div class="font-62 font-purple font-bold">{{item.NaslovBold}} </div>
        <div class="font-62 font-purple margin-xxl--bottom-42">{{item.Naslov}}</div>
        <div class="upoznaj_sebe-left-text padding-xxl--left-25 font-16 font-purple margin-xxl--bottom-77">{{item.Text}}</div>
        <button class="button-midd font-white font-14 background-purple">SAZNAJ VIŠE</button>
    </div>
    <div class="upoznaj_sebe-right w-65">
        <div class="upoznaj_sebe-right-1">
            <div class="upoznaj_sebe-right-1-2">
                <div class="upoznaj_sebe-right-1-2-image" 
                    style="background-image: url('img/{{item.Slika}}')">
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{# <div id="upoznaj_sebe2" class="mySlides flex padding-xxl--left-200" style="height:100%">
    <div class="upoznaj_sebe-left w-35 flex flex-column justify-content-center align-items-start">
        <div class="font-62 font-purple font-bold"> sebe,</div>
        <div class="font-62 font-purple margin-xxl--bottom-42">reši .</div>
        <div class="upoznaj_sebe-left-text padding-xxl--left-25 font-16 font-purple margin-xxl--bottom-77">Živi život po meri</div>
        <button class="button-midd font-white font-14 background-purple">SAZNAJ VIŠE</button>
    </div>
    <div class="upoznaj_sebe-right w-65">
        <div class="upoznaj_sebe-right-1">
            <div class="upoznaj_sebe-right-1-2">
                <div class="upoznaj_sebe-right-1-2-image">
                </div>
            </div>
        </div>
    </div>
</div> #}
<div class="upoznaj_sebe-buttons flex">
  <div class="font-14 font-purple margin-xxl--right-30 cursor-pointer" onclick="plusDivs(-1)">Prethodna</div>
  <div class="font-14 font-purple cursor-pointer" onclick="plusDivs(1)">Sledeća</div>
</div>
</div>

{% endblock %}
