{% extends "base.twig" %}
{% block content %}

<div style="height: 100vh; widht: 100%; background-color: #291644; top: 3.75rem;" id="first"></div>
<div style="height: 100vh; widht: 100%; background-color: #9DC64F;" id="second"></div>
{% endblock %}
