{% extends "base.twig" %}
{% block content %}

<div class="flex flex-column">
    <div class="flex flex-column align-items-center justify-content-center">
        <div>Kontakt</div>
        <div></div>
        <div>Lorem Ipsum is simply dummy text</div>
    </div>
    <div class="flex">
        <div></div>
        <div></div>
    </div>
</div>

<!-- mapa -->
<div></div>

{% endblock %}