{% extends "base.twig" %}
{% block content %}

<!-- blok1 -->
<div class="blok1">
    <div class="blok1-1">
        <div class="blok1-1-2">
            <div class="blok1-1-2-3">
                <div class="blok1-1-2-3-all flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold">Na stari način</div>
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-white margin-xxl--bottom-42 margin-xl--bottom-32">nema novih rešenja</div>
                <div class="blok1-1-2-3-all-text padding-xxl--left-25 font--xxl-14 font-white margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">Lorem Ipsum is simply dummy text of the printing</div>
                <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">Trajno rešavanje prekomerne kilaže možete postići samo ako odklonite uzrok zašto se prejedate. Potrebno je stvarati zdravije navike a ne drzati dijetu. Sta god ste u svom zivotu drzali ono je bilo tu samo dok ga drzite. Isto je i sa dijetom. Dijetom resavamo samo trenutno posledicu. 15 godina sam pokusavla da smrsam, uskracivala sebi hranu i na kraju sam dosla do 110kg. Kao da sam bila na rezimu koji me je gojio.</div>
                <a class="font-italic font-bold font--xxl-14 font-white margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a>
                <button class="button-big font-white font--xxl-14 background-purple-dark">ZAKAŽI SVOJ TERMIN</button>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="hide"></div>
<!-- blok1 -->

{% endblock %}