{% extends "base.twig" %}
{% set Descriptions = fetch("Descriptions") %}
{% block description %}{{Descriptions.O_meni}}{% endblock %}
{% block content %}

<div style="height: 3.71rem;"></div>
<!-- blok 1 -->
<div id="section1" class="o_meni flex align-items-center logo_purple menu_purple">
    <div class="o_meni-gr"></div>
    <div class="o_meni-text margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-xs--right-23">
        <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple flex flex--xs-column margin-xxl--bottom-32 margin-xl--bottom-24"><p class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-purple">Kako sam postala psihoterapeut?&nbsp</p></div>
        <div class="o_meni-text-border font--xxl-14 font-purple margin-xxl--bottom-32 margin-xl--bottom-24 padding-xxl--left-24 flex align-items-center">Psihologija je oduvek bila moj poziv.</div>
        <div>
            <div class="font--xxl-14 font-purple margin-xxl--bottom-24 margin-xl--bottom-18">Period odrastanja je sam po sebi veoma buran. Pored konstantne nesigurnosti i bezuspešnog traženja sebe, moj problem je bio i izostanak podrške roditelja, koji su se upravo razvodili. Osećala sam se usamljeno i izgubljeno. Potražila sam pomoć psihoterapeuta. Ubrzo sam osetila olakšanje, da me neko razume, da je nekome zaista stalo. Želela sam da i drugi to osete. Mnogi su mi se već poveravali sa svojim problemima, ali ja sam samo slušala. Studiranje psihologije je bio moj sledeći korak.</div>
        </div>
        <a href="kontakt">
            <button class="button-big font-white font--xxl-14 background-purple-darker margin-xxl--bottom-32 margin-xl--bottom-24">ZAKAŽI SVOJ TERMIN</button>
        </a>
    </div>
</div>
<div class="o_meni-hide"></div>
<!-- blok 1 -->

<!-- blok2 -->
<div id="section2" class="blizak-odnos flex flex--l-direction logo_white menu_white">
    <div class="blizak-odnos-left">
        <div class="blizak-odnos-left-image-1"><img src="./assets/images/home-blok2-1.png"></div>
        <div class="blizak-odnos-left-image-2"><img src="./assets/images/home-blok2-2.png"></div>
        <div class="blizak-odnos-left-image-3"><img src="./assets/images/home-blok2-3.png"></div>
    </div>
    <div class="blizak-odnos-right flex flex-column justify-content-center">
    <img class="blizak-odnos-right-line" src="./assets/images/linija.png">
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-xs--right-23">
            <div class="flex flex--xl-column margin-xxl--bottom-32 margin-xl--bottom-24">
                <p class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-white">Kako sam postala&nbsp</p>
                <p class="font--xxl-46 font--xl-42 font--xs-36 font-white">psihoterapeut</p>
            </div>
            <div class="blizak-odnos-right-text">
                <div class="font--xxl-14 font-white margin-xxl--bottom-24 margin-xl--bottom-12">Kao psiholog-psihoterapeut sa završenom OLI psihodinamskom integrativnom metodom koristim tehnikeiz različitih psihoterapijskih pravaca i svaku terapiju prilagodim potrebama osobi koja mi se obrati za pomoć. Uradu mi je uvek na prvom mestu odnos koji gradim sa klijentom.</div>
            </div>
            <a href="kontakt">
                <button class="button-big font-white font--xxl-14 background-purple-darker margin-xxl--bottom-32 margin-xl--bottom-24">ZAKAŽI SVOJ TERMIN</button>
            </a>
        </div>
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-l--top-24 margin-l--bottom-50">
            <div class="font--xxl-24 font-bold font-italic font-white margin-xxl--bottom-32 margin-xl--bottom-18">Šta su o meni rekli</div>
            <div id="owl-one" class="owl-carousel owl-theme owl-loaded">
                {% set Testimonial = fetch("Testimonial") %}
                {% for item in Testimonial %}
                    <div>
                        <div class="font-italic font-bold font--xxl-16 font-white margin-xxl--bottom-10">{{item.ImePrezime}}</div>
                        <div class="blizak-odnos-right-testimonial-text font-italic font--xxl-16 font-white">{{item.Text}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- blok2 -->

<!-- blok3 -->
<div id="stari_nacin" class="blok logo_purple menu_purple">
    <div class="blok-all flex flex-direction-reverse flex--l-direction">
        <div class="blok-all-right">
            <div class="blok-all-right-1">
                <div class="blok-all-right-1-2">
                    <div class="blok-all-right-1-2-image" style="background-image: url('./assets/images/o-meni-blok3.jpg')">
                        <div class="blok-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-l--bottom-50">
            <div class="blok-all-left-all flex flex-column">
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple font-bold">Kako sam postala</div>
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">psihoterapeut</div>
                <div class="font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">Do vrednih stvari u životu nisam došla prečicama niti nekim brzim rešenjima. Psihoterapija je duži, svakako vredan truda, put ka trajnim i kvalitetnim promenama. Osećam se privilegovano što imam mogućnost da budem saputnik ljudima koji su se odlučili da koračaju tim putem. Bilo da je u pitanju depresija, anksioznost, višak kilograma, ili osećaj da život koji živite nije vaš, već da vasvoze neki autopiloti okoline, porodice, roditelja, detinjstva,psihoterapija je moćan alat kojim možete živeti život bez strahova uz razvijanje svojih potencijala. Da živite život posvojoj meri.</div>
                <a href="psihoterapija" class="font-italic font-bold font--xxl-14 font-purple margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a>
                <a href="kontakt">
                    <button class="button-big font-white font--xxl-14 background-purple">ZAKAŽI SVOJ TERMIN</button>
                </a>
            </div>
        </div>
        <div class="blok-all-hide"></div>
    </div>
</div>
<!-- blok3 -->

<!-- blok4 -->
{% include 'radionica_3.twig' %}
<!-- blok4 -->
{% include 'footer.twig' %}
{% endblock %}
