{% extends "base.twig" %}
{% set Descriptions = fetch("Descriptions") %}
{% block description %}{{Descriptions.O_meni}}{% endblock %}
{% block content %}

<div style="height: 3.71rem;"></div>
<!-- blok 1 -->
<div id="section1" class="o_meni flex align-items-center logo_purple menu_purple">
    <div class="o_meni-gr"></div>
    <div class="o_meni-text margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-xs--right-23">
        <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple flex flex--xs-column margin-xxl--bottom-32 margin-xl--bottom-24"><p class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-purple">Nešto više&nbsp</p> o meni</div>
        <div class="o_meni-text-border font--xxl-14 font-purple margin-xxl--bottom-32 margin-xl--bottom-24 padding-xxl--left-24 flex align-items-center">Lorem Ipsum is simply dummy text of the printing</div>
        <div>
            <div class="font--xxl-14 font-purple-light margin-xxl--bottom-24 margin-xl--bottom-18">Ja sam Isidora Buneta, živim i radim u Beogradu. Psiholog-psihoterapeut, poznavalac zdravog načina ishrane, treninga, života. Verujem da trajnom rešavanje problema možemo postići samo ako problemu pristupimo kako iz glave tako i iz tela.</div>
            <div class="font--xxl-14 font-purple-light margin-xxl--bottom-32 margin-xl--bottom-24">Kroz prihoterapijski odnos pomažem ljudima da napuste obrasce koji nisu njihovi i da žive u skladu sa sobom. Uspela sam trajno da smršam 42kg. Rešila sam psihološke uzroke prejedanja i mnogo lakše promenila način ishrane.</div>
        </div>
        <a href="kontakt">
            <button class="button-big font-white font--xxl-14 background-purple-darker margin-xxl--bottom-32 margin-xl--bottom-24">ZAKAŽI SVOJ TERMIN</button>
        </a>
    </div>
</div>
<div class="o_meni-hide"></div>
<!-- blok 1 -->

<!-- blok2 -->
<div id="section2" class="blizak-odnos flex flex--l-direction logo_white menu_white">
    <div class="blizak-odnos-left">
        <div class="blizak-odnos-left-image-1"><img src="./assets/images/home-blok2-1.png"></div>
        <div class="blizak-odnos-left-image-2"><img src="./assets/images/home-blok2-2.png"></div>
        <div class="blizak-odnos-left-image-3"><img src="./assets/images/home-blok2-3.png"></div>
    </div>
    <div class="blizak-odnos-right flex flex-column justify-content-center">
    <img class="blizak-odnos-right-line" src="./assets/images/linija.png">
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-xs--right-23">
            <div class="flex flex--xl-column margin-xxl--bottom-32 margin-xl--bottom-24">
                <p class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-white">Kako sam postala&nbsp</p>
                <p class="font--xxl-46 font--xl-42 font--xs-36 font-white">psihoterapeut</p>
            </div>
            <div class="blizak-odnos-right-border font--xxl-14 font-white margin-xxl--bottom-32 margin-xl--bottom-24 padding-xxl--left-24 flex align-items-center">Lorem Ipsum is simply dummy text of the printing</div>
            <div class="blizak-odnos-right-text">
                <div class="font--xxl-14 font-white margin-xxl--bottom-24 margin-xl--bottom-12">Ja sam Isidora Buneta, živim i radim u Beogradu. Psiholog-psihoterapeut, poznavalac zdravog načina ishrane, treninga, života. Verujem da trajnom rešavanje problema možemo postići samo ako problemu pristupimo kako iz glave tako i iz tela.</div>
                <div class="font--xxl-14 font-white margin-xxl--bottom-32 margin-xl--bottom-24">Kroz prihoterapijski odnos pomažem ljudima da napuste obrasce koji nisu njihovi i da žive u skladu sa sobom. Uspela sam trajno da smršam 42kg. Rešila sam psihološke uzroke prejedanja i mnogo lakše promenila način ishrane.</div>
            </div>
            <a href="kontakt">
                <button class="button-big font-white font--xxl-14 background-purple-darker margin-xxl--bottom-32 margin-xl--bottom-24">ZAKAŽI SVOJ TERMIN</button>
            </a>
        </div>
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-l--top-24 margin-l--bottom-50">
            <div class="font--xxl-24 font-bold font-italic font-white margin-xxl--bottom-32 margin-xl--bottom-18">Šta su o meni rekli</div>
            <div id="owl-one" class="owl-carousel owl-theme owl-loaded">
                {% set Testimonial = fetch("Testimonial") %}
                {% for item in Testimonial %}
                    <div>
                        <div class="font-italic font-bold font--xxl-16 font-white margin-xxl--bottom-10">{{item.ImePrezime}}</div>
                        <div class="blizak-odnos-right-testimonial-text font-italic font--xxl-16 font-white">{{item.Text}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- blok2 -->

<!-- blok3 -->
<div id="stari_nacin" class="blok logo_purple menu_purple">
    <div class="blok-all flex flex-direction-reverse flex--l-direction">
        <div class="blok-all-right">
            <div class="blok-all-right-1">
                <div class="blok-all-right-1-2">
                    <div class="blok-all-right-1-2-image" style="background-image: url('./assets/images/o-meni-blok3.jpg')">
                        <div class="blok-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-l--bottom-50">
            <div class="blok-all-left-all flex flex-column">
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple font-bold">Kako sam postala</div>
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">psihoterapeut</div>
                <div class="blok-all-left-all-text padding-xxl--left-25 font--xxl-14 font-purple margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">Lorem Ipsum is simply dummy text of the printing</div>
                <div class="font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">Trajno rešavanje prekomerne kilaže možete postići samo ako odklonite uzrok zašto se prejedate. Potrebno je stvarati zdravije navike a ne drzati dijetu. Sta god ste u svom zivotu drzali ono je bilo tu samo dok ga drzite. Isto je i sa dijetom. Dijetom resavamo samo trenutno posledicu. 15 godina sam pokusavla da smrsam, uskracivala sebi hranu i na kraju sam dosla do 110kg. Kao da sam bila na rezimu koji me je gojio.</div>
                <a href="psihoterapija" class="font-italic font-bold font--xxl-14 font-purple margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a>
                <a href="kontakt">
                    <button class="button-big font-white font--xxl-14 background-purple">ZAKAŽI SVOJ TERMIN</button>
                </a>
            </div>
        </div>
        <div class="blok-all-hide"></div>
    </div>
</div>
<!-- blok3 -->

<!-- blok4 -->
{% include 'radionica_3.twig' %}
<!-- blok4 -->

{% endblock %}
