{% extends "base.twig" %}
{% block content %}

<!-- blok 1 -->
<div class="o_meni flex align-items-center">
    <div class="o_meni-gr"></div>
    <div class="o_meni-text margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-xs--right-23">
        <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple flex flex--xs-column margin-xxl--bottom-32 margin-xl--bottom-24"><p class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-purple">Nešto više&nbsp</p> o meni</div>
        <div class="o_meni-text-border font--xxl-14 font-purple margin-xxl--bottom-32 margin-xl--bottom-24 padding-xxl--left-24 flex align-items-center">Lorem Ipsum is simply dummy text of the printing</div>
        <div>
            <div class="font--xxl-14 font-purple-light margin-xxl--bottom-24 margin-xl--bottom-18">Ja sam Isidora Buneta, živim i radim u Beogradu. Psiholog-psihoterapeut, poznavalac zdravog načina ishrane, treninga, života. Verujem da trajnom rešavanje problema možemo postići samo ako problemu pristupimo kako iz glave tako i iz tela.</div>
            <div class="font--xxl-14 font-purple-light margin-xxl--bottom-32 margin-xl--bottom-24">Kroz prihoterapijski odnos pomažem ljudima da napuste obrasce koji nisu njihovi i da žive u skladu sa sobom. Uspela sam trajno da smršam 42kg. Rešila sam psihološke uzroke prejedanja i mnogo lakše promenila način ishrane.</div>
        </div>
        <button class="button-big font-white font--xxl-14 background-purple-darker margin-xxl--bottom-32 margin-xl--bottom-24">ZAKAŽI SVOJ TERMIN</button>
    </div>
</div>
<div class="o_meni-hide"></div>
<!-- blok 1 -->

{% endblock %}