{% extends "base.twig" %}
{% block content %}

<div style="height: 3.71rem;"></div>

<div class="background-purple flex flex-column padding-xxl--top-200 padding-l--top-100 padding-xxl--bottom-100">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="font--xxl-46 font-white font-bold margin-xxl--bottom-24">Pitajte Isidoru</div>
        <div class="kontakt-line"></div>
        <div class="font--xxl-16 font-white text-center margin-xxl--top-24 margin-xxl--bottom-60">Lorem Ipsum is simply dummy text</div>
    </div>
    <div >
        <form id="pitajteIsidoru" class="flex justify-content-between flex--l-column align-items--l-center padding-xxl--left-135 padding-xxl--right-135 padding-xs--left-23 padding-xs--right-23">
          <div class="kontakt-side flex flex-column">
            <div class="font-xxl--18 font-grey--form margin-xxl--bottom-10 text--l-center">Ime i Prezime</div>
            <input style="color: #fff;" class="isidora kontakt-form margin-xxl--bottom-20" id="name" type="text"/>
            <div class="font-xxl--18 font-grey--form margin-xxl--bottom-10 text--l-center">Email</div>
            <input style="color: #fff;" class="isidora kontakt-form margin-xxl--bottom-20" id="email" type="text"/>
            {# <div class="font-xxl--18 font-grey--form margin-xxl--bottom-10 text--l-center">Naslov</div>
            <input class="kontakt-form margin-xxl--bottom-20" id="title" type="text"/> #}
          </div>
          <div class="kontakt-side flex flex-column">
            <div class="font-xxl--18 font-grey--form margin-xxl--bottom-10 text--l-center">Poruka</div>
            <textarea style="color: #fff;" class="isidora kontakt-form margin-xxl--bottom-24" id="message" type="text"></textarea>
            <div class="w-100 flex justify-content-end justify-content--l-center">
                <button class="button-midd font-white font--xxl-14 border-purple-light">POŠALJI</button>
            </div>
          </div>
          {# <button class="button-midd font-white font--xxl-14 border-purple-light">POŠALJI</button> #}
        </form>
    </div>
</div>

{% endblock %}