<div id="section7" class="cd-section pozovi_nas flex flex-column align-items-center justify-content-center logo_white menu_white">
    <div class="pozovi_nas-top flex align-items-center justify-content-center">
        <div class="pozovi_nas-top-all flex flex-column align-items-center justify-content-center">
            <div class="pozovi_nas-top-all-image margin-xxl--bottom-130 margin-m--bottom-100 margin-xs--bottom-60"><img src="./assets/shared/logo-white-full.png"></div>
            <div class="font--xxl-46 font--xl-42 font--xs-36 font-white text-center flex flex--m-column margin-xxl--bottom-32 margin-xl--bottom-24 margin-xs--right-23 margin-xs--left-23 text-center">Započni promenu.</div>
            <div class="pozovi_nas-top-all-line margin-xxl--bottom-10"></div>
            <div class="pozovi_nas-top-all-text font-white font--xxl-16 text-center margin-xxl--bottom-42 margin-xl--bottom-32 margin-xs--right-23 margin-xs--left-23">Da bi napravila prvi korak ne moraš da vidiš celo stepenište.</div>
            <div class="flex flex--xs-column">
                <a href="kontakt" class="des">
                    <button class="button-midd font-white font--xxl-14 background-purple-darker">POZOVI</button>
                </a>
                <a href="tel:+381638403020" class="mob">
                    <button class="button-midd font-white font--xxl-14 background-purple-darker">POZOVI</button>
                </a>
            </div>
        </div>
    </div>
    <div class="pozovi_nas-hide"></div>
</div>
