<div class="radionica_3 flex">
    <div class="radionica_3-1 flex flex-column">
        <div class="radionica_3-play flex-1 flex align-items-center justify-content-center">
            <a data-fancybox  href="https://www.youtube.com/embed/2vb3tAajXIM">
                <img src="./assets/shared/play.png">
            </a>
        </div>
        <div class="font--xxl-46 font-white font-bold margin-xxl--left-70 margin-xxl--bottom-130">Individualna</div>
    </div>
    <div class="radionica_3-2 flex flex-column">
        <div class="radionica_3-play flex-1 flex align-items-center justify-content-center">
            <a data-fancybox  href="https://www.youtube.com/embed/2vb3tAajXIM">
                <img src="./assets/shared/play.png">
            </a>
        </div>
        <div class="font--xxl-46 font-white font-bold margin-xxl--left-70 margin-xxl--bottom-130">Radionica</div>
    </div>
    <div class="radionica_3-3 flex flex-column">
        <div class="radionica_3-play flex-1 flex align-items-center justify-content-center">
            <a data-fancybox  href="https://www.youtube.com/embed/2vb3tAajXIM">
                <img src="./assets/shared/play.png">
            </a>
        </div>
        <div class="font--xxl-46 font-white font-bold margin-xxl--left-70 margin-xxl--bottom-130">Online</div>
    </div>
</div>