<div class="radionica_3 flex flex--l-wrap">
    <div class="radionica_3-1 flex flex-column justify-content--l-end">
        <div class="radionica_3-play flex-1 flex align-items-center justify-content-center">
            <a data-fancybox  href="https://www.youtube.com/embed/2vb3tAajXIM">
                <img src="./assets/shared/play.png">
            </a>
        </div>
        <div class="font--xxl-46 font--l-42 font--m-32 font-white font-bold margin-xxl--left-70 margin-l--left-48 margin-xs--left-23 margin-xxl--bottom-130 margin-l--bottom-50 margin-xs--bottom-24">Individualna</div>
    </div>
    <div class="radionica_3-2 flex flex-column justify-content--l-end">
        <div class="radionica_3-play flex-1 flex align-items-center justify-content-center">
            <a data-fancybox  href="https://www.youtube.com/embed/2vb3tAajXIM">
                <img src="./assets/shared/play.png">
            </a>
        </div>
        <div class="font--xxl-46 font--l-42 font--m-32 font-white font-bold margin-xxl--left-70 margin-l--left-48 margin-xs--left-23 margin-xxl--bottom-130 margin-l--bottom-50 margin-xs--bottom-24">Radionica</div>
    </div>
    <div class="radionica_3-3 flex flex-column justify-content--l-end">
        <div class="radionica_3-play flex-1 flex align-items-center justify-content-center">
            <a data-fancybox  href="https://www.youtube.com/embed/2vb3tAajXIM">
                <img src="./assets/shared/play.png">
            </a>
        </div>
        <div class="font--xxl-46 font--l-42 font--m-32 font-white font-bold margin-xxl--left-70 margin-l--left-48 margin-xs--left-23 margin-xxl--bottom-130 margin-l--bottom-50 margin-xs--bottom-24">Online</div>
    </div>
</div>